.border-none {
    --tw-ring-color: none !important;
    border:none !important;
}

.avatar-icon {
    width:40px;height:40px;
    position:relative;margin-right:10px;
}

.header-top-box {align-items: center}


.temp-title {font-size:20px;font-weight:600;color:#fff}


